h1 {
	font-size: 400%;
	color: orange;
	font-family: 'Press Start 2P';
}

h2 {
	color: yellow;
}

hr {
	background: darkred;
}

body {
	background-color: darkred;
	color: lightyellow;
}

img {
	height: 50px;
}

span {
	color: yellow;
}

.box {
	padding: 20px;
}

.btn {
	border-radius: 0px;
	font-size: 16px;
}

.form-control {
	font-size: 18px;
	color: darkred;
}

#titlebar {
}

.racetrack {
	background-color: darkgray;
	height: 60px;
	padding: 5px;
}

#track1 {
	border-bottom: 3px dotted yellow;
}

.centerconsole {
	height: 1200px;
}

.messages {
	border: 3px solid orange;
}

.questions {
/*	border: 3px solid orange;
*/}

.gamesetup {
	border: 3px solid orange;
}



