h1 {
	font-size: 400%;
	color: darkorange;
	font-family: 'Press Start 2P';
}

h2 {
	color: yellow;
}

body {
	background-color: darkred;
	color: lightyellow;
}

img.avatar {
	height: 50px;
	position: relative;
	left: 0px;
}

span {
	color: yellow;
}



/*
	Classes for questions and answers 
*/
	.question {
		font-size: 400%;
		padding-right: 30px;
	}

	.answer {
		font-size: 400%;
		color: yellow;
	}

	.underline {
		text-decoration: underline;
	}

	.highlight {
		background-color: yellow;
	}

.box {
	padding: 20px;
}

.btn {
	border-radius: 0px;
	font-size: 16px;
}

.form-control {
	font-size: 18px;
	color: darkred;
}

/*Coloring the racetrack*/
	.racetrack {
		background-color: darkgray;
		height: 60px;
		padding: 5px;
		border-right: 5px solid white;
	}

	.racetrack:nth-of-type(1) {
		border-bottom: 3px dotted yellow;
	}




.centerconsole {
	height: 1200px;
}

.messages {
	border: 3px solid orange;
}

.questions {
/*	border: 3px solid orange;
*/}

.gamesetup {
	border: 3px solid orange;
}

.gamebutton {
	border: 5px solid darkred;
	padding: 10px 0px 0px 0px;
	margin: 5px 0px;
	font-size: 200%;
	background-color: orange;
	color: darkred;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

